.login {
    text-align: center;
    margin: 2rem;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.submitButton {
  margin: 1rem;
  font-size: 16px;
  font-weight: bold;
  background-color: darkolivegreen; /* Green */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 0px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;

  width: 50%;
  max-width: 150px;
}
.submitButton:disabled{
  opacity: 50%;
}

.submitButton:hover{
  background-color: rgb(65, 83, 35);
}

.h1{
  font-size: 32px;
  font-weight: bold;
  margin: 32px;
}

.inputArea{
  margin-top: 2rem;
}

.inputArea input{
  width: 70%;
  max-width: 300px;
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 12px 20px;
  margin: 4px 0;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.inputArea input:focus{
  border: 2px solid #555;
}

.inputField{
  margin: 1rem;
}

.inputField > .inputFieldError {
  border-color: crimson;
}
