.userList {
  text-align: center;
  margin: 2rem;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  padding-bottom: 1rem;
}

table {
  margin: 0 auto;
  width: 50%;
}

td{
  border-top: 1px solid lightgray;
  font-size: 12px;
  padding: 1rem;
  padding-top: 0;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;}

td:hover{
  background-color: whitesmoke;
}

tr:last-child > td{
  border-bottom: 1px solid lightgray;
}

.paginationButton {
  margin: .5rem;
  font-size: 16px;
  font-weight: bold;
  background-color: darkolivegreen; /* Green */
  border: none;
  color: white;
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50%;
}

.paginationButton:hover{
  background-color: rgb(65, 83, 35);
}

.paginationText{
  font-size: 12px;
  min-width: 100px;
  display: inline-block;
}
